@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Space Grotesk", sans-serif;
  
  --color-brand: var(--brand);
  --color-app-bg: var(--app-bg);
  --color-card-bg: var(--card-bg);
  --color-card-border: var(--card-border);
  --color-text-main: var(--text-main);
  --color-text-muted: var(--text-muted);
}

:root {
  --brand: #2dd4bf;
  --app-bg: #0a0a0a;
  --card-bg: #141414;
  --card-border: #1f2937;
  --text-main: #f8fafc;
  --text-muted: #94a3b8;
}

@layer base {
  body {
    @apply antialiased bg-app-bg text-text-main transition-colors duration-300;
  }
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: var(--card-border);
  border-radius: 4px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--brand);
}
